page-login {      
        ion-list {
            margin: 0;
        }   
        .login-button {
            width: 100%;
            border-radius: 30px;
            font-size: 0.9em;
            border: 1px solid #fff;
            background-color: #39acdc;
        }
   
}
